th:first-child {
  background: black;
}
table, th, td {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  width: 100px;
}
td:not(:first-of-type) {
  text-align: center;
}
